[submodule "ambitus-ai-models"]
	path = ambitus-ai-models
	url = https://github.com/shreyaj1/ambitus-ai-models
[submodule ".github"]
	path = .github
	url = https://github.com/shreyaj1/.github
[submodule "ambitus-frontend"]
	path = ambitus-frontend
	url = https://github.com/shreyaj1/ambitus-frontend
